/* Colors */
$white: #ffffff;
$black: #000000;
$lighter-gray: #fafafa;
$light-gray: #b4bed3;
$dark-gray: #bbbbbb;
$darker-gray: #444c5b;
$dark-blue: #003865;
$light-blue: lightblue;

$sb-color: #d6dee1;
$sb-hover-color: #a8bbbf;

$tab-color: #8493ab;
$tabs-border-color: #dee2e6;

/* Screen sizes */
$tablet-h-width: 1024px;
$tablet-v-width: 768px;
$phone-max-width: 420px;
$phone-min-width: 360px;

/* Elements sizes */
$btn-width: 200px;
$filter-max-width: 700px;
